# Busybox security hardening fragment
# Only override security-relevant options everything else
# comes from the default defconfig.

# SUID / privilege control
CONFIG_FEATURE_SUID=y
CONFIG_FEATURE_SUID_CONFIG=y
CONFIG_FEATURE_SUID_CONFIG_QUIET=y
# CONFIG_FEATURE_INSTALLER is not set

# Password / authentication hardening
CONFIG_PASSWORD_MINLEN=8
# CONFIG_FEATURE_SHADOWPASSWDS is not set
# CONFIG_SU is not set
# CONFIG_FEATURE_SU_SYSLOG is not set
# CONFIG_FEATURE_SU_CHECKS_SHELLS is not set
# CONFIG_FEATURE_SU_BLANK_PW_NEEDS_SECURE_TTY is not set
# CONFIG_LOGIN is not set
# CONFIG_LOGIN_SESSION_AS_CHILD is not set
# CONFIG_LOGIN_SCRIPTS is not set
# CONFIG_FEATURE_SECURETTY is not set
# CONFIG_SULOGIN is not set
# CONFIG_GETTY is not set
# CONFIG_ADDUSER is not set
# CONFIG_ADDGROUP is not set
# CONFIG_FEATURE_ADDUSER_TO_GROUP is not set
# CONFIG_DELUSER is not set
# CONFIG_DELGROUP is not set
# CONFIG_FEATURE_DEL_USER_FROM_GROUP is not set

# Disable network daemons
# CONFIG_HTTPD is not set
# CONFIG_FTPD is not set
# CONFIG_TELNETD is not set
# CONFIG_TFTPD is not set
# CONFIG_INETD is not set
# CONFIG_DNSD is not set
# CONFIG_NTPD is not set
# CONFIG_TCPSVD is not set
# CONFIG_UDPSVD is not set
# CONFIG_UDHCPD is not set
# CONFIG_DHCPRELAY is not set
# CONFIG_NC_SERVER is not set

# Disable insecure / cleartext clients
# CONFIG_TELNET is not set
# CONFIG_FTPGET is not set
# CONFIG_FTPPUT is not set

# Disable raw hardware memory access
# CONFIG_DEVMEM is not set
# CONFIG_CONSPY is not set
# CONFIG_SETSERIAL is not set

# Disable coredumps from init
# CONFIG_FEATURE_INIT_COREDUMPS is not set

# Disable debug / profiling features
# CONFIG_DEBUG is not set
# CONFIG_DEBUG_PESSIMIZE is not set
# CONFIG_DEBUG_SANITIZE is not set
# CONFIG_UNIT_TEST is not set

# Kernel module taint checking
CONFIG_FEATURE_CHECK_TAINTED_MODULE=y

# Disable weak TLS ciphers
# CONFIG_FEATURE_TLS_SHA1 is not set
