
CONFIG_SELINUX=y
# SELinux Utilities
CONFIG_CHCON=y
CONFIG_GETENFORCE=y
CONFIG_GETSEBOOL=y
CONFIG_LOAD_POLICY=y
CONFIG_MATCHPATHCON=y
CONFIG_RUNCON=y
CONFIG_SELINUXENABLED=y
CONFIG_SESTATUS=y
CONFIG_SETENFORCE=y
# CONFIG_SETFILES is not set
# CONFIG_FEATURE_SETFILES_CHECK_OPTION is not set
# CONFIG_RESTORECON is not set
# CONFIG_SETSEBOOL is not set
